<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fale conosco</title>
    <style>

    </style>
</head>
<body>
    <nav>

    </nav>
    <div>
        <h1>Fale conosco</h1>
    </div>
    <div>
        <h3>Email para contato: technovaltda@gmail.com</h3>
        <h3>telefone para contato: 2786-2935</h3>
    </div>
    <div>
        <a href="home.html">Voltar para página incial</a>
    </div>
</body>
</html>