{% extends 'base.html' %}

{% block title %}Cursos{% endblock %}

{% block content %}
    
    <main>
        <h1>. Cursos</h1>
        <h5>- Confira os cursos que oferecemos para o seu desenvolvimento profissional:</h5><hr>
        
        <section>
            <h2>Python para Iniciantes</h2>
            <p>Aprenda a programar com Python, uma das linguagens mais populares do mercado de tecnologia.</p><br>
        </section>
        
        <section>
            <h2>Desenvolvimento Web</h2>
            <p>Aprenda a criar websites dinâmicos e interativos com HTML, CSS, JavaScript e Django.</p><br>
        </section>
        
        <section>
            <h2>Inteligência Artificial</h2>
            <p>Introdução ao desenvolvimento de sistemas inteligentes, abordando algoritmos de machine learning e deep learning.</p>
        </section>
    </main>

{% endblock %}
