{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    
    <main>
        <h1>Serviços da TechNova</h1>
        <h5>Conheça nossos serviços tecnológicos inovadores:</h5><hr>
        
        <section>
            <h2>Consultoria em TI</h2>
            <p>- Oferecemos consultoria especializada para sua empresa<br> melhorar processos e otimizar soluções tecnológicas.</p>
        </section>
        
        <section>
            <h2>Desenvolvimento de Software</h2>
            <p>- Desenvolvemos soluções personalizadas de software atendendo<br> a todas as necessidades do seu negócio.</p>
        </section>
        
        <section>
            <h2>Treinamentos Corporativos</h2>
            <p>- Oferecemos treinamentos corporativos para capacitar sua equipe em tecnologias avançadas e ferramentas de TI.</p>
        </section>
    </main>

{% endblock %}